@using Entities
@using Business

<EditForm Model="oStorage">
    <div class="form-group">
        <label>Bodega</label>
        <InputSelect @bind-Value="oStorage.WareHouseId" class="form-control">
            <option value="">Seleccione una bodega..</option>
            @foreach (var warehouse in wareHouses)
            {
                <option value="@warehouse.WareHouseId">@warehouse.WareHouseName</option>
            }
        </InputSelect>
    </div>


    <div class="form-group">
        <label>Producto</label>
        <InputSelect @bind-Value="oStorage.ProductId" class="form-control">
            <option value="">Seleccione un producto..</option>
            @foreach (var product in products)
            {
                <option value="@product.ProductId">@product.ProductName</option>

            }

        </InputSelect>
    </div>
    <input type="button" value="Almacener producto" @onclick="SaveStorage" />
</EditForm>
<div class="text-center h4">
    @message
</div>

@code {
    StorageEntity oStorage = new StorageEntity();

    List<WareHouseEntity> wareHouses = new List<WareHouseEntity>();
    List<ProductEntity> products = new List<ProductEntity>();

    string message;

    protected override async Task OnInitializedAsync()
    {
        wareHouses = B_WareHouse.WareHouseList();
        products = B_Product.ProductList();
    }

    private void SaveStorage()
    {
        oStorage.StorageId = $"{oStorage.WareHouseId}-{oStorage.ProductId}";

        if (!B_Storage.IsProductInWareHouse(oStorage.StorageId))
        {
            oStorage.LastUpdate = DateTime.Now;
            B_Storage.CreateStorage(oStorage);
            message = "Producto almacenado";
        }
        else {
            message = "Producto ya registrado en bodega";
        }
    }

}
