@using Entities
@using Business

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Referencia</th>
            <th>Nombre de categoria</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categories in tempCategory) 
        {
        <tr>
            <td>@categories.CategoryId</td>
            <td>@categories.CategoryName</td>
            <td><a href="category/update/@categories.CategoryId">Editar</a></td>
        </tr>
        }
    </tbody>
</table>

@code {

    List<CategoryEntity> categories = new List<CategoryEntity>();
    List<CategoryEntity> tempCategory = new List<CategoryEntity>();

    protected override async Task OnInitializedAsync()
    {
        categories = B_Category.CategoryList();
        tempCategory = categories;

    }


}
