<input type="text" @bind-value="@message" />
<input type="text" @bind-value="@message" />
<input type="button" value="Haga click" @onclick="ChangeText" />

<div>
    @message
</div>

@code{

    [Parameter]
    public string Message { get; set; }


    string message = "un contenido";
    string text;

    protected override async Task OnInitializedAsync()
    {
        message = Message;
    }

    private void ChangeText()
    {
        message = text;
    }

}